#############################
# Production Database
#############################

spring.datasource.url=${DB_URL}
spring.datasource.username=${DB_USER}
spring.datasource.password=${DB_PASS}
spring.datasource.driver-class-name=${DB_DRIVER}

#############################
# JPA (PRODUCTION)
#############################

spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=false

#############################
# Flyway (PROD)
#############################

spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration/schema,classpath:db/migration/security
spring.flyway.validate-on-migrate=true
spring.flyway.fail-on-missing-locations=true
spring.flyway.clean-disabled=true
spring.flyway.out-of-order=false

#############################
# Security Hardening
#############################

spring.h2.console.enabled=false
spring.devtools.restart.enabled=false
spring.devtools.livereload.enabled=false

#############################
# OpenAPI / Swagger
#############################

springdoc.api-docs.enabled=false
springdoc.swagger-ui.enabled=false

#############################
# CORS
#############################
security.cors.allowed-origins=https://yourdomain.com
security.cors.allowed-methods=GET,POST,PUT,DELETE,OPTIONS
security.cors.allowed-headers=Authorization,Content-Type
security.cors.exposed-headers=Location
security.cors.allow-credentials=true
security.cors.max-age=3600
