#############################
# UAT Database
#############################

spring.datasource.url=jdbc:h2:file:./data/employees-uat
spring.datasource.driver-class-name=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=

#############################
# JPA (SAFE MODE)
#############################

spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.jpa.hibernate.ddl-auto=validate

spring.jpa.show-sql=false

#############################
# Flyway (UAT)
#############################

spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration/schema
spring.flyway.validate-on-migrate=true
spring.flyway.fail-on-missing-locations=true
spring.flyway.clean-disabled=true
spring.flyway.out-of-order=false

#############################
# Disable Dev Tools
#############################

spring.h2.console.enabled=false
