#############################
# Application Base Config
#############################

spring.application.name=employees
server.port=8080


#############################
# API Configuration
#############################

api.base-path=/api/v1


#############################
# OpenAPI / Swagger
#############################

springdoc.swagger-ui.path=/docs
springdoc.api-docs.path=/api-docs