#############################
# DEV Database (H2)
#############################

spring.datasource.url=jdbc:h2:file:./data/employees-dev;MODE=LEGACY;DB_CLOSE_ON_EXIT=FALSE;AUTO_SERVER=TRUE
spring.datasource.driver-class-name=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=

#############################
# JPA / Hibernate (DEV)
#############################

spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.jpa.hibernate.ddl-auto=validate

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

#############################
# Flyway (DEV)
#############################

spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration/schema,classpath:db/migration/dev
spring.flyway.validate-on-migrate=true
spring.flyway.fail-on-missing-locations=true
spring.flyway.clean-disabled=true
spring.flyway.out-of-order=false


#############################
# H2 Console (DEV ONLY)
#############################

spring.h2.console.enabled=true
spring.h2.console.path=/h2-console

#############################
# CORS
#############################
security.cors.allowed-origins=http://localhost:3000,http://localhost:5173
security.cors.allowed-methods=GET,POST,PUT,DELETE,OPTIONS
security.cors.allowed-headers=Authorization,Content-Type
security.cors.exposed-headers=Location
security.cors.allow-credentials=true
security.cors.max-age=3600
