#############################
# Application Configuration
#############################

spring.application.name=my-springboot-app
server.port=8080


#############################
# Swagger Configuration
#############################

springdoc.swagger-ui.path=/docs
springdoc.api-docs.path=/api-docs

